body{
	background-image: url("img1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
}

h1{
	margin-left: 500px;
    color: black;
    font-family: sans-serif;
    margin-top:80px;

}

.time{
    margin-left:400px;
    margin-top:80px;
    width:700px;
}
.v1{
    margin-left:400px;
    margin-top:10px;
    width:700px;
}
.v2{
    margin-left:400px;
    margin-top:10px;
    width:700px;
}
.v3{
    margin-left:400px;
    margin-top:10px;
    width:700px;
}
.v4{
    margin-left:400px;
    margin-top:10px;
    width:700px;
}
.v5{
    margin-left:400px;
    margin-top:10px;
    width:700px;
}
.v6{
    margin-left:400px;
    margin-top:10px;
    width:700px;
}
.v7{
    margin-left:400px;
    margin-top:10px;
    width:700px;
}
.v8{
    margin-left:400px;
    margin-top:10px;
    width:700px;
}
.v9{
    margin-left:400px;
    margin-top:10px;
    width:700px;
}
.v10{
    margin-left:400px;
    margin-top:10px;
    width:700px;
}
.v11{
    margin-left:400px;
    margin-top:10px;
    width:700px;
}
.v12{
    margin-left:400px;
    margin-top:10px;
    width:700px;
}
.v13{
    margin-left:400px;
    margin-top:10px;
    width:700px;
}
.v14{
    margin-left:400px;
    margin-top:10px;
    width:700px;
}
.v15{
    margin-left:400px;
    margin-top:10px;
    width:700px;
}
.v16{
    margin-left:400px;
    margin-top:10px;
    width:700px;
}
.v17{
    margin-left:400px;
    margin-top:10px;
    width:700px;
}
.v18{
    margin-left:400px;
    margin-top:10px;
    width:700px;
}
.v19{
    margin-left:400px;
    margin-top:10px;
    width:700px;
}
.v20{
    margin-left:400px;
    margin-top:10px;
    width:700px;
}
.v21{
    margin-left:400px;
    margin-top:10px;
    width:700px;
}
.v22{
    margin-left:400px;
    margin-top:10px;
    width:700px;
}
.v23{
    margin-left:400px;
    margin-top:10px;
    width:700px;
}
.v24{
    margin-left:400px;
    margin-top:10px;
    width:700px;
}
.v25{
    margin-left:400px;
    margin-top:10px;
    width:700px;
}
.v26{
    margin-left:400px;
    margin-top:10px;
    width:700px;
}
.v27{
    margin-left:400px;
    margin-top:10px;
    width:700px;
}
.v28{
    margin-left:400px;
    margin-top:10px;
    width:700px;
}
.amount{
    margin-left:400px;
    margin-top:10px;
    width:700px;
}
.output{
    margin-left:400px;
    margin-top:0px;
    font-size: 40px;
    
}
